@model ItemViewModel

@{
	ViewData["Title"] = "Create Item";
}

<div class="row">
	<div class="col-md-4 card">
		<div class="card-header h4">Create Item</div>
		<div class="card-body">

			<form asp-action="CreateItem">

				<input type="hidden" asp-for="OrderId" value="@Model.OrderId" />

				<div class="form-group">
					<label asp-for="Name" class="control-label">Name</label>
					<input asp-for="Name" class="form-control" />
					<span asp-validation-for="Name" class="text-danger"></span>
				</div>

				<div class="form-group">
					<label asp-for="Quantity" class="control-label">Quantity</label>
					<input asp-for="Quantity" class="form-control" />
					<span asp-validation-for="Quantity" class="text-danger"></span>
				</div>

				<div class="form-group">
					<label asp-for="Unit" class="control-label">Unit</label>
					<input asp-for="Unit" class="form-control" />
					<span asp-validation-for="Unit" class="text-danger"></span>
				</div>

				<div>
					<input type="submit" value="Create" class="btn btn-success mt-3 w-100" />
					<a href="/Order/Details/@Model.OrderId" class="btn btn-primary mt-3 w-100">Back to List</a>
				</div>

			</form>
		</div>
	</div>
</div>


@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
