@model OrderCreatePageModel

@{
	ViewData["Title"] = "Create Order";
}

<div class="row">
	<div class="col-md-4 card">
		<div class="card-header h4">Create Order</div>
		<div class="card-body">

			<form asp-action="Create">

				<div class="form-group">
					<select asp-for="Order.ProviderId" class="form-select" asp-items="@Model.Providers"></select>
				</div>

				<div class="form-group">
					<label asp-for="Order.Number" class="control-label">Number</label>
					<input asp-for="Order.Number" class="form-control" />
					<span asp-validation-for="Order.Number" class="text-danger"></span>
				</div>

				<div class="form-group">
					<label asp-for="Order.Date" class="control-label">Date</label>
					<input asp-for="Order.Date" class="form-control" />
					<span asp-validation-for="Order.Date" class="text-danger"></span>
				</div>

				<div>
					<input type="submit" value="Create" class="btn btn-success mt-3 w-100" />
					<a href="/" class="btn btn-primary mt-3 w-100">Back to List</a>
				</div>

			</form>
		</div>
	</div>
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
