@model OrderCreatePageModel

@{
    ViewData["Title"] = "Create Order";
}

<h1>Create Order</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">

            <div class="form-group">
                <select asp-for="Order.ProviderId" class="form-select" asp-items="@Model.Providers"></select>
            </div>

            <div class="form-group">
                <label asp-for="Order.Number" class="control-label">Number</label>
                <input asp-for="Order.Number" class="form-control" />
                <span asp-validation-for="Order.Number" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Order.Date" class="control-label">Date</label>
                <input asp-for="Order.Date" class="form-control" />
                <span asp-validation-for="Order.Date" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
