@model List<asu_management.mvc.Data.Order>
@{
    ViewData["Title"] = "Main Page";
}
<h4>@ViewData["Title"]</h4>

@if (Model != null)
{
    @foreach (var item in Model)
    {
        <h4>@item.Id</h4>
        <h4>@item.Date</h4>
        <h4>@item.Number</h4>
    }
}